.nav-items {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0;
    text-decoration: none;
    color: #222529;
    padding: 45px 3% 45px 3%;
}
.nav-select{
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 900;
}
.menu ul {
    margin-top: 45px;
    padding-inline-start: 0;

}

.nav-items:hover {
    color: #222529;
    border-top: 4px solid #606da6;
}

.card-icon,
.admin-icon {
    position: relative;
    margin: 20px;
    font-size: 30px;
    color: #222529;
    cursor: pointer;
}

.count {
    position: absolute;
    top: -1px;
    right: -10px;
    font-weight: 600;
    font-size: 11px;
    background: #ff6363;
    padding: 4px 9px;
    color: white;
    border-radius: 40px;
}



.logo {
    padding-top: 15px;
}



.menu2 a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5% 10%;
}

.cancel {
    text-align: end;
    font-size: 30px;
}



.menu2 {
    position: absolute;
    top: -45px;
    left: -11px;
    background-color: #222529;
    width: 70%;
    height: 100%;
    z-index: 2;
    transition: width 0.3s linear;
}

.menu2 ul {
    width: 100%;
}


.foo {
    font-size: 40px;
    top: 5%;
    left: 5%;
    z-index: 1;
}
.nav-img{
    width: 150px;
}



@media only screen and (max-width: 990px) {
    .items-navbar {
        display: none;
    }
}

@media only screen and (max-width: 760px) {
    .admin {
        position: absolute;
        right: 0;
        top: 0%;
    }

    .foo {
        top: 3%;
    }

    .logo {
        position: absolute;
        top: 0;
        left: -20px;
    }
}