.nav-items3 {
    text-decoration: none;
    color: #777;
}

.fot-img {
    padding: 5% 0 0 0;
}
.fot-img2 {
    width: 200px;
}
.fot-img h2 {
    padding-left: 15%;
    color: #606da6;
}